@keyframes anim {
    from { opacity: 0%;}
    to {  opacity: 100%;}
}

#cat {
    width: 50%;
}

#d1 {
    animation: anim 4s forwards;
    opacity: 0%;
    color: rgb(200, 200, 200);
}

#d2 {
    animation: anim 4s forwards;
    animation-delay: 2s;
    font-size: 20px;
    opacity: 0%;
    color: rgb(100, 100, 100);
}

#center {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#xd {
    font-size: 15px;
}

body {
    background: rgb(20, 20, 20);
    color: rgb(200, 200, 200);
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 30px;
}